body {
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
  margin-left: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 

}

#mainLinksMobile {
  position: absolute;
  background-color: #4c8bf5;
  width: 50vw;
  height: 100vh;
  top: 0;
  right: -2px;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  z-index: 0;
  display: none;
}

#navBarMenuImg {
  position: absolute;
  display: none;
}

#leftWrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  padding-left:5px;
  height: 100%;
  display: none;
}


a {
  color: inherit;
  text-decoration: none;
}

#main_menu { 
  left: 0;
  right: 0;
  background-color: #f4b300;
  margin-top: -20px;
  position: fixed;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 99;
}


#innerMainMenu {
  transition-duration: 200ms;
  margin-top: -155px;
}

#list li {
  display: inline-block;
  transition: 800ms;
}




#homeA {
  position: absolute;
  left: 20vw;
  transition: 100ms;
  z-index: 9;
}

#contactUsA {
  position: absolute;
  right: 61.1%;
  z-index: 9;
}

#servicesDiv {
  position: absolute;
  left: 61%;
  cursor: pointer;
  z-index: 9;
}

#aboutUsA {
  position: absolute;
  right: 20vw;
  transition: 100ms;
  cursor: pointer;
  z-index: 9;
}



.inner_main_menu ul li a {
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
}
.inner_main_menu ul li a:hover {
  color: green;
  opacity: none;
}

.logo_img {

  text-align: center;
  transition-duration: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;

}

#logo {
  width: 17%;
  padding-bottom: 102.5px;
  background-color: transparent;
  cursor: pointer;

}


#links {
  list-style: none;
}

#yelpLogo {
  width: 3vw;
  filter: brightness(150%);
}

#yelp {
  position: fixed;
  top: 2vw;
  left: 15vw;
  z-index: 99;
}


#servicesCooling {
  font-size: 14px;

  text-align: center;
  display: none;
}
  #replacementTop {
    top: 20vw;
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    width: 100%;
    font-size: 4vw;
    color: #4285F4;
  
  }

  #replacementSubTop {
    position: absolute;
    text-align: center;
    top: 30vw;
    font-size: 3vw;
    line-height: 4vw;
    left: 1.7vw;
    right: 1.7vw;
  }

  #replacementList li {
    font-size: 2vw;
    line-height: 3vw;
  }

  #replacementList {
    position: absolute;
    top: 50vw;
    width:80vw;
    text-align: center;
    padding: 0px;
    margin-left: 10vw;
  }

  .ifBold {
    font-weight: bold;
    color:rgb(190, 0, 0);
  }

  #repairImage {
    filter:brightness(120%);
    margin-top: 123vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 1vw;
    box-shadow: 5px 10px grey;
  }

  #replacementBottom {
    position: absolute;
    text-align: center;
    margin-top: 85.2vw;
    font-size: 2.5vw;
    line-height: 4vw;
    left: 3vw;
    right: 3vw;
    height: 34vw;
    font-weight: normal;
  }

  #reviewDiv {
    position: absolute;
    background-color: #4285F4;
    width: 100%;
    
    border-radius: 5px;
    line-height: 3.5vw;
    text-align: center;
    color: white;
    margin-top: 5.4vw; 
    font-size: 1.3vw;
    height: 25vw;
  }

  #reviewButton {
    width: 26vw;
    height: 5.5vw;
    color: black;
    font-size: 2.5vw;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    border-color: white;
    transition: 100ms;
    padding: 0;
    border: none;
    font-weight: bold;
    margin-top: 4vw;
  }
  
  #reviewText {
    padding-left: 1.7vw;
    padding-right: 1.7vw;
  }

  #reviewButton:hover {
    box-shadow: 3px 3px 3px grey;
    background-color: #F4B400;
    border-color: #F4B400;
    color: white;
  }

  #repairTop {
    margin-top: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: #4285F4; 
  }

  #repairSubTop {
    margin-top: 2vw;
    text-align: center;
    font-size: 3vw;
    line-height: 4vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }



  #repairList li {
    font-size: 2vw;
    line-height: 3vw;
  }

  #repairList {
    position: absolute;
    width:80vw;
    text-align: center;
    padding: 0px;
    margin-left: 10vw;
  }

  #repairBottom {
    font-size: 2.5vw;
    line-height: 4vw;
    margin-top: 50vw;
    text-align: center;
    margin-left: 3vw;
    margin-right: 3vw;
    font-weight: normal;
  }

  .ankers {
    text-decoration: none;
    color: inherit;
  }

  #footer {
    font-size: 1.5vw;
    line-height: 2vw;

  }


  @media (min-width: 1200px) {
    #logo {
      width: 12vw;
    }

    #replacementTop {
      font-size: 3vw;
      top: 15vw;
    }

    #replacementSubTop {
      font-size: 2vw;
      top: 23vw;
    }

    #replacementList li {
      font-size: 1.5vw;
    }

    #replacementList {
      top: 37vw;
    }

    #replacementBottom {
      margin-top : 65vw;
      font-size: 2vw;
      line-height: 3.7vw;
    }

    #repairImage {
      margin-top: 95vw;
    }

    #reviewDiv {
      margin-top: 5.4vw; 
      font-size: 1.3vw;
      height: 25vw;
    }

    #reviewButton {
      margin-top: 4vw;
    }

    #repairTop {
      font-size: 3vw;
    }

    #repairSubTop {
      font-size: 2vw;
    }

    #repairList li {
      font-size: 1.5vw;
    }

    #repairBottom {
      font-size: 2vw;
      line-height: 3.7vw;
      margin-top: 36vw;
    }

  }




  
  @media (max-width: 900px) {

    #navBarMenuImg {
      width: 13%;
      top: 0;
      right: -.8vw;
      display: block;
      cursor: pointer;
    }
  
  
    #homeA {
      display: none;
    }
  
    #contactUsA {
      display: none;
    }
  
    #servicesDiv {
      display: none;
    }
  
    #aboutUsA {
      display: none;
    }
  
  }
  
