body {
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
  margin-left: 20px;
}
.row {
  margin-right: -10px;
}
#homeA {
  margin-left: 406px; 
  position: absolute;

}
#servicesA {

  position: absolute;
}

#contactUsA {
  margin-left: 1268px;
}


#main_menu { 
  left: 0;
  right: 0;
  background-color:#F4B400;
  margin-top: -10px;
  position: fixed;

}
#inner_main_menu1 {

  transition-duration: 200ms;
  margin-top: -133px;
  z-index: 9999;
  
}

li {
  display: inline-block;
  transition: 800ms;
}
.inner_main_menu ul li:nth-child(1) {

  padding-right: 150px;
  
  
}

#homeList {
  margin-left: 309px;
  position: absolute;
}

.inner_main_menu ul li:nth-child(2) {
  float:left;
  margin-left: 614px;
  
  
}

.inner_main_menu ul li:nth-child(3) {
  float: right;
  margin-right: 386px;

  position: relative;
}
.inner_main_menu ul li:nth-child(4) {
  
  margin-left: -292px;
  
  position: absolute;
}
.inner_main_menu ul li a {

  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  

}
.inner_main_menu ul li a:hover {
  color: green;
  opacity: none;
}

.logo_img img {
  filter: brightness(150%);
  height: 300px;
  margin-left: 792px;
  margin-right: auto;
  width: 17%;
  transition-duration: 200ms;

}
.homePage {

  position: absolute;
  margin-top: 200px;

}



#socialMedia {
  z-index: 999;
}
#links {
  list-style: none;
  z-index: 99;
  padding: 0; 
  position: fixed;
  margin-left: 390px;
  
}

#yelpLogo {
  width: 40px;
  background-color: yellow;
  filter: brightness(150%);
}


input, textarea {
  width: 100%;
  padding: 13px;
  border-radius: 0px;
  border: 2px solid black;
  color: black;
  font-size: 15px;
  position: fixed;
}


form {
  margin-left: 34px;
  margin-top: 250px;
  position: absolute;
  padding-top: 200px;
  
}



label {
  left: 14px;
  white-space: nowrap;
  user-select: none;
  text-overflow: ellipsis;
  cursor: text;
  transition: 150ms;
  cursor: text;
 
  font-size: 13px;
  position: relative;
  white-space: nowrap;
  color: grey;
  margin-left: 350px;
}

#messageLabel {
  bottom: 202px;

}
.input-field {
  padding-bottom: 20px;
}
#first_name {
  position: absolute;
  margin-left: 382px;
  width: 50%;
  padding-left: 12px;
  outline: none !important;
  border: 1px solid grey;
  border-radius: 5px;

}



#last_name {
  margin-left: 932px;
  width: 50%;
  margin-top: -42.5px;
  position: absolute;
  padding-right: 0px;
  outline: none !important;
  border: 1px solid grey;
  border-radius: 5px;
}
#firstName {

  bottom: -12px;
  margin-left: 381px;
  font-weight: 1100;
  color: rgb(66, 66, 66);
}

#lastName {
  margin-left: 927px;
  padding-left: 5px;
  padding-right: 5px;
  left: 14px;
  color: rgb(66, 66, 66);

}

#email {
  position: absolute;
  margin-left: 382px;
  width: 50%;
  padding-left: 12px;
  outline: none !important;
  border: 1px solid grey;
  border-radius: 5px;
}

#emailLabel {
  bottom: -12px;
  margin-left: 381px;
  color: rgb(66, 66, 66);
}

#phone {
  margin-left: 932px;
  width: 50%;
  margin-top: -50px;
  position: absolute;
  padding-right: 0px;
  outline: none !important;
  border: 1px solid grey;
  border-radius: 5px;
}

#phoneLabel {
  margin-left: 932px;
  color: rgb(66, 66, 66);
  position: relative;
}
#zipCode {
  position: absolute;
  margin-left: 382px;
  padding-right: 60px;
  margin-top: -20px;
  outline: none !important;
  border: 1px solid grey;
  border-radius: 5px;
  width: 105%;
}

#zipCodeLabel {
  top: -8px;
  margin-left: 382px;
  color: rgb(66, 66, 66);
}

#message {
  margin-left: 382px;
  position: absolute;
  padding-right: 60px;
  margin-top: 25px;
  outline: none !important;
  border: 1px solid grey;
  border-radius: 5px;
  width: 105%;
}

#messageLabel {
  position: absolute;
  margin-bottom: -243px;
  margin-left: 382px;
  color: rgb(66, 66, 66);

}

#submit {
  margin-top: 250px;
  position: absolute;
  margin-left: 897px;
  padding-bottom: 30px;
  
}

#messageError {
  margin-top : 220px;
  position: absolute;
  margin-left: 390px;
  font-size: 13px;
  color: #de5246;

}

#addressError {
  margin-top: 8px;
  margin-left: 390px;
  font-size: 13px;
  color: #de5246;
}

#contactInfoError {
  margin-left: 390px;
  position: absolute;
  margin-top: -43px;
  font-size: 13px;
  color: #de5246;
  
  
}

#lastFirstError {
  margin-left: 390px;
  margin-top: -35px;
  font-size: 13px;
  color:#de5246;;
}

.input-field {
  padding-top: 20px;
}

#emailDiv {
  padding-top: 20px;
  padding-bottom: 8px;
}

#phoneDiv {
  padding-top: 18px;
}

#contactUsDiv {
  margin-top: 320px;
  margin-left: 868px;
  position: absolute;
  color: 	#DB4437;

}
#h4ContactUs {
  margin-left: -76px;
  
}

#submitButton {
  width: 200px;
  height: 50px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  background-color: #4285F4;
  margin-left: -90px;
  cursor: pointer;
  border-color: #4285F4;
  transition: 100ms;
  padding: 0;
  border: none;
  font-weight: bold;
}

#submitButton:hover {
  box-shadow: 3px 3px 3px grey;
  background-color: #2f74e2;
}

#nav {
  margin-left: 100px;
}
